// src/components/Book/RecentChangesList/RecentChangesList.module.scss

.list {
  width: 80%;
  list-style: none;
  padding: 0;
  margin: var(--spacing-l) 0;
}

.item {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-s);
  margin-bottom: var(--spacing-s);
  padding: var(--spacing-s);
  background-color: var(--color-bg-alt);
  border-radius: var(--radius-s);
  box-shadow: var(--shadow-xs);

  &:hover {
    background-color: var(--color-surface);
  }
}

.icon {
  font-size: var(--font-size-xl);
  line-height: 1.5rem;
  margin-top: 2px;
}

.text {
  flex: 1;
  color: var(--color-text-main);
  font-size: var(--font-size-m);
}

.meta {
  font-size: var(--font-size-s);
  color: var(--color-text-light);
}

.link {
  font-size: var(--font-size-l);
  text-decoration: none;
  color: var(--color-primary);
  transition: color var(--transition-fast);

  &:hover {
    color: var(--color-hover);
    text-decoration: underline;
  }
}
