// ./src/components/Layout/Header/Header.module.scss

@use "@styles/_breakpoints.scss" as *;

.header {
  width: 100%;
  min-height: var(--header-mobile-height);
  padding: 1rem;
  border-bottom: 1px solid var(--primary-color, #2c3e50);
  box-shadow: var(--shadow-xs);

  display: flex;
  flex-direction: column;
  align-items: center;

  @include mediaquery(sm) {
    min-height: var(--header-height);
    height: var(--header-height);
    flex-direction: row;
    justify-content: space-between;
  }
}

.header-logo-container {
  height: 100%;
  max-height: var(--header-height);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include mediaquery(sm) {
    margin-right: 2rem;
  }

  .logo {
    width: 100%;
    max-width: var(--header-height);
    max-height: var(--header-height);
  }
  .site-title {
    font-size: var(--font-size-xl);

    @include mediaquery(sm) {
      width: 30rem;
    }
  }
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 1rem;

  @include mediaquery(sm) {
    width: 90%;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-right: 2rem;
  }
}

.advanced-search-btn {
  background: var(--primary-color, #2c3e50);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-md, 8px);
  font-size: var(--font-size-m);
  cursor: pointer;
  transition: background 0.2s;
  height: 3.2rem;
  min-width: 11rem;

  &:hover,
  &:focus {
    background: var(--primary-dark, #1a232d);
    outline: none;
  }
}

.logoContainer {
  text-align: center;
}

.title {
  font-size: var(--font-size-xl);
  color: white;
  margin: 0;
}
