// ./src/components/Layout/Header/Header.module.scss

.header {
  width: 100%;
  height: var(--header-mobile-height);
  padding: 1rem;
  border-bottom: 1px solid var(--primary-color, #2c3e50);
  box-shadow: var(--shadow-xs);

  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 1rem;

  @media (min-width: 768px) {
    height: var(--header-height);
    flex-direction: row;
    justify-content: space-between;
  }
}

.header-logo-container {
  height: 100%;
  max-height: var(--header-height);
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .logo {
    width: 100%;
    max-width: var(--header-height);
    max-height: var(--header-height);
  }
  .site-title {
    font-size: var(--font-size-xl);
  }
}

.logoContainer {
  text-align: center;
}

.title {
  font-size: 1.5rem;
  color: white;
  margin: 0;
}
