// ./src/components/Layout/MainContainer/MainContainer.module.scss

@use "@styles/_breakpoints.scss" as *;

.main {
  width: 100%;
  min-height: calc(
    100vh - (var(--header-mobile-height) + var(--footer-height))
  );
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mediaquery(sm) {
    min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
  }
}
