// src/components/Book/BookCard/BookCard.module.scss

.book-card {
  background-color: var(--color-bg-alt);
  border-radius: var(--radius-m);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition:
    transform var(--transition-fast),
    box-shadow var(--transition-fast);
  cursor: pointer;
  animation: fadeSlideIn 0.4s ease forwards;
  opacity: 0;

  &:hover {
    transform: translateY(-4px);
    box-shadow: var(--shadow-m);
  }
}

.cover {
  width: 100%;
  height: 42rem;
  object-fit: cover;
  border-bottom: 1px solid var(--color-border);
}

.info {
  padding: var(--spacing-m);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: var(--font-size-xl);
  font-weight: bold;
  color: var(--color-text-main);
  margin-bottom: var(--spacing-xs);
}

.author,
.year {
  font-size: var(--font-size-l);
  color: var(--color-text-light);
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
